<!-- Validation failure messages -->
<% if @rfq.errors.any? %>
  <% @rfq.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Rfq</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_rfq" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <input type="hidden" name="user_id" value="<%= current_user.id %>">

      <!-- Label and input for data_card_id -->
      <div class="form-group">
        <label for="data_card_id" class="control-label">
          Data card
        </label>

        <input type="text" id="data_card_id" name="data_card_id" placeholder="Data card" class="form-control" value="<%= @rfq.data_card_id %>">
      </div>

      <button class="btn btn-success">
        Create Rfq
      </button>
      or
      <a href="/rfqs">Cancel</a>
    </form>
  </div>
</div>
